<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298544688824-r3tspisvegbmvmpmlej2720959aj23au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298544688824-r3tspisvegbmvmpmlej2720959aj23au</string>
	<key>API_KEY</key>
	<string>AIzaSyDqVh_G65eoR92TrAFe5u7KwEYdXQ8niqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>298544688824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wishlistApp</string>
	<key>PROJECT_ID</key>
	<string>wishlistapp-889a0</string>
	<key>STORAGE_BUCKET</key>
	<string>wishlistapp-889a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298544688824:ios:d9a620a9c9b417de0b0e4d</string>
</dict>
</plist>